body{
    margin: 0;
    padding:0;
    background: rgb(18, 37, 93);
    background-size: cover;
    font-family: sans-serif;
    height: auto;
    display: block;
    
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


.header{
    width: 100%;
    height: 65px;
    background:white;
    position: fixed;
    z-index: 1;
    

}

.container{
    max-width: 3500px;
    margin: auto;
}
.logo{
    padding:auto;
    margin:0;  
    float: left;
    line-height:30px;
    width: 60px;
    height:60px;

    
}

.logo .icono{
    padding:5px;
    margin: 2px;
    width: 86px;
    height: 60px;

}
.menu{
    float: right;
    line-height: 65px;

}

.menu ul{
    display: flex;
    list-style: none;

}
.menu a{
    display: block;
    padding: 0px 20px;
    text-decoration: none;
    
    color: black;
    transition: all .5s ease;

}
.menu a:hover{
    background: rgba(255, 0, 187, 0.075);
    color: rgba(34, 223, 24, 0.966)
}


.menu .submenu{
    background: rgb(55, 18, 219);
    box-shadow: 3px 10px 10px rgba(0,0,0,0.2);
    display: none;

}
.menu ul li a:hover + ul, .menu .submenu:hover{
    display: block;
    

}


.centro{
    width: 100%;
    height: auto;
    display:flex;
    flex-direction: row;
    justify-content:space;
    
    flex-flow: wrap;
    margin-bottom: 300px;
    background: url(../img/bg6.jpg) no-repeat center top;
    
    
    
    
       
}

@media screen and (max-width:1200px){
    .parrafo_titulo{
        width: 40%;
    }
}

@media screen and (max-width:600px){
    .parrafo_titulo{
        width: 90%;
    }
}

@media screen and (max-width:1200px){
    .img_centro{
        width: 40%;
    }
}

@media screen and (max-width:600px){
    .img_centro{
        width: 90%;
    }
}

.centro .parrafo_titulo{
    width: 600px;
    height:300px;
    
    position: relative;
    top: 380px;
    margin-left: 20px;
    margin-right: 60px;
}

.centro .parrafo_titulo .titulo_centro{
      width: auto;
      color: rgb(237, 79, 116);
      margin-top: 30px;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      
      text-align: center;
      
}
.centro .parrafo_titulo .parrafo{
    max-width: 500px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 50px;
    color:white;
    font-size: 22px;
    
    text-align: center;
}
.centro .parrafo_titulo .boton{
    width: 100px;
    height: auto;
    margin-top: 10px;
    margin-left: 250px;
    
}


.centro .img_centro{

    width: 500px;
    height: 500px;
    
    position: relative;
    top: 190px;
    
    margin-left: 100px;
}



.centro .foto_prog{
    
    width: 350px;
    height: 400px;
    position: relative;
    top: 120px;
    left: 150px;
    
}

.pie_skills{
    
    
    height: 30px;
    
    position: relative;
    top: 100px;
}

.pie_skills .h1_skills{
    text-align: center;
    color: rgb(237, 79, 116);
    margin-bottom: 75px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.pie_skills .h3_skills{
    text-align: center;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}


.skills{
    
    width: 100%;
    height: auto;
    display:flex;
    flex-direction: row;
    justify-content: space;
    flex-flow: wrap;
    margin-bottom: 450px;
    justify-content: center;
    background: url(../img/bg6.jpg) no-repeat center top;
    
    
    
    
}

.skills .html{
    width: 200px;
    height: 300px;
    position:relative;
    top: 250px;
    text-align: center;
    border-radius: 10px;
    background:white;
    margin-left: 10px;
    margin-top: 10px;
    transition: 0.5s;
    box-sizing: border-box;
    
}

.skills .html:hover{
    transform: scale(1.1,1.1);
}
.skills .html .img_html{
    width: 150px;
    height: 150px;
    margin-top: 30px;
    
}

.skills .html h3{
    text-align: center;
    font-size:20px;
    padding-top: 30px;
    color:black;
    font-family: 'Courier New', Courier, monospace;
}

.skills .css{
    width: 200px;
    height: 300px;
    top: 250px;
    position: relative;
    text-align: center;
    border-radius: 10px;
    background:white;
    margin-left: 10px;
    margin-top: 10px;
}

.skills .css .img_css{
    width: 150px;
    height: 150px;
    margin-top: 30px;
}

.skills .css h3{
    text-align: center;
    font-size:20px;
    padding-top: 30px;
    color:black;
    font-family: 'Courier New', Courier, monospace;
}




.skills .python{
    width: 200px;
    height: 300px;
    
    top: 250px;
    position: relative;
    
    text-align: center;
    background:white;
    border-radius: 10px;
    margin-left: 10px;
    margin-top: 10px;
}

.skills .python .img_python{
    width: 150px;
    height: 150px;
    margin-top: 30px;

}

.skills .python h3{
    text-align: center;
    font-size:20px;
    padding-top: 30px;
    color:black;
    font-family: 'Courier New', Courier, monospace;
}



.skills .c{
    width: 200px;
    height: 300px;
    
    
    top: 250px;
    position: relative; 
    text-align: center;
    background:white;
    border-radius: 10px;
    margin-left: 10px;
    margin-top: 10px;
}
.skills .c .img_c{
    width: 150px;
    height: 150px;
    margin-top: 30px;
}

.skills .c h3{
    text-align: center;
    font-size:20px;
    padding-top: 30px;
    color:black;
    font-family: 'Courier New', Courier, monospace;
}



.skills .foto_skill{
    width: 300px;
    height: 300px;
    top: 190px;
    position: relative;
    margin-left: 120px;
    margin-top: 50px;
    text-align: center;

}

.skills .foto_skill .img_skill{
    width: 350px;
    height: 350px;
}













.proyectos{
    width: 100%;
    height: auto;
    display:flex;
    flex-direction: row;
    justify-content: space;
    flex-flow: wrap;  
    justify-content: center;
    background: url(../img/bg6.jpg) no-repeat center top;
    
     
    
}
.pie_proyectos{
    height: 150px;
    
}

.pie_proyectos h1{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    color: rgb(237, 79, 116);
    text-align: center;
    margin-bottom: 70px;
    
}

.pie_proyectos h3{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    text-align: center;
}

@media screen and (max-width:1200px){
    .proyecto1{
        width: 40%;
    }
}

@media screen and (max-width:600px) {
    .proyectos1{
        width: 90%;
    }
    
}

@media screen and (max-width:1200px){
    .proyecto2{
        width: 40%;
    }
}

@media screen and (max-width:600px) {
    .proyectos2{
        width: 90%;
    }
    
}

@media screen and (max-width:1200px){
    .proyecto3{
        width: 40%;
    }
}

@media screen and (max-width:600px) {
    .proyectos3{
        width: 90%;
    }
    
}




    



.proyectos .proyecto1{
    margin-top: 150px;
    height:500px;
    width:400px;
    background:white;
    margin-left: 40px;
    border-radius: 10px;
    box-sizing: border-box;
    transition: 0.5s;
    text-align: center;
    
    
    
}

.proyectos .proyecto1:hover{
    transform: scale(1.1,1.1);
}

.proyectos .proyecto2{
    margin-top: 150px;
    height:500px;
    width:400px;
    background:white;
    margin-left: 40px;
    border-radius: 10px;
    box-sizing: border-box;
    transition: 0.5s;
    text-align: center;
    
    
}

.proyectos .proyecto2:hover{
    transform: scale(1.1,1.1);
}

.proyectos .proyecto3{
    margin-top: 150px;
    height:500px;
    width:400px;
    background:white;
    margin-left: 40px;
    border-radius: 10px;
    box-sizing: border-box;
    transition: 0.5s;
    text-align: center;
    
}

.proyectos .proyecto3:hover{
    transform: scale(1.1,1.1);
}

.proyectos .proyecto1 .img_p1{
     margin: 15px;
     height: 250px;
     width: auto;
     padding-bottom: 30px;
}

.proyectos .proyecto1 h3{
    padding: 20px;
    padding-bottom: 60px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     
}

.proyectos .proyecto2 .img_p2{
    
     margin: 15px;
    width: 350px;
    
}

.proyectos .proyecto2 h3{
    padding: 40px; 
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.proyectos .proyecto3 .img_p3{
    
    width: 350px;
    margin: 15px;
}

.proyectos .proyecto3 h3{
    
    margin: 45px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.proyectos .proyecto1 a{
    
    
    text-decoration: none;
}

.proyectos .proyecto2 a{
   
    text-decoration: none;
}

.proyectos .proyecto3 a{
   
    text-decoration: none;
}

.contactos{
    width: 100%;
    height: auto;
    display:flex;
    flex-direction: row;
    justify-content: space;
    flex-flow: wrap;  
    justify-content: center;
background: black;

    
    
    
    
}

.pie_contactos{
    
    height: 100px;
    text-align: center;
    margin-top: 250px;
}

.pie_contactos h1{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
}




.contactos .formulario{

    
    width: 500px;
    height: 500px;
    
   
    
    
    
}


.contactos .contactos_img{
    width: 500px;
    height: 500px;
    
}

.contactos .contactos_img .img_logo2{
    width: 400px;
    margin-top: 70px;
}

.formulario .email{
    margin-top: 50px;
    position: relative;
    top: 10px;
    width:100%;
    height: 40px;
    margin-bottom: 50px;
    border-radius: 10px;
}

.formulario .mensaje{
    width: 100%;
    height: 200px;
    border-radius: 10px;
}

.formulario .enviar{
    width: 100px;
    height: 30px;
    margin-top: 20px;
    margin-left: 200px;
    background: rgb(240, 240, 240);
}




