body{
    margin: 0;
    padding:0;
    background:rgb(8, 8, 67);
    background-size: cover;
    font-family: sans-serif;
    height: 295vh;
    display: block;
    
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


.header{
    width: 100%;
    height: 65px;
    background:white;
    position: fixed;
    z-index: 1;
    

}

.container{
    max-width: 3500px;
    margin: auto;
}
.logo{
    padding:auto;
    margin:0;  
    float: left;
    line-height:30px;
    width: 60px;
    height:60px;

    
}

.logo .icono{
    padding:5px;
    margin: 2px;
    width: 60px;
    height: 60px;

}
.menu{
    float: right;
    line-height: 65px;

}

.menu ul{
    display: flex;
    list-style: none;

}
.menu a{
    display: block;
    padding: 0px 20px;
    text-decoration: none;
    
    color: black;
    transition: all .5s ease;

}
.menu a:hover{
    background: rgba(255, 0, 187, 0.075);
    color: rgba(34, 223, 24, 0.966)
}


.menu .submenu{
    background: rgb(55, 18, 219);
    box-shadow: 3px 10px 10px rgba(0,0,0,0.2);
    display: none;

}
.menu ul li a:hover + ul, .menu .submenu:hover{
    display: block;
    

}


.centro{
    width: 100%;
    height: auto;
    display:flex;
    flex-direction: row;
    justify-content: space;
    
    flex-flow: wrap;
    margin-bottom: 300px;
    
    
    
    
       
}

@media screen and (max-width:1200px){
    .parrafo_titulo{
        width: 40%;
    }
}

@media screen and (max-width:600px){
    .parrafo_titulo{
        width: 90%;
    }
}

@media screen and (max-width:1200px){
    .img_centro{
        width: 40%;
    }
}

@media screen and (max-width:600px){
    .img_centro{
        width: 90%;
    }
}

.centro .parrafo_titulo{
    width: auto;
    height:500px;
    
    position: relative;
    top: 160px;
    margin-right: 60px;
}

.centro .parrafo_titulo .titulo_centro{
      width: auto;
      color: rgb(237, 79, 116);
      position: relative;
      font-family:'Courier New', Courier, monospace;
      left: 100px;
      top: 200px;
      
}
.centro .parrafo_titulo .parrafo{
    max-width: 500px;
    font-family: 'Courier New', Courier, monospace;
    position: relative;
    color: white;
    font-size: 22px;
    top: 220px;
    left: 100px;
}
.centro .parrafo_titulo .boton{
    width: 100px;
    height: auto;
    position: relative;
    top: 250px;
    left: 100px;
}


.centro .img_centro{

    width: 500px;
    height: 500px;
    
    position: relative;
    top: 240px;
    
    margin-left: 100px;
}



.centro .foto_prog{
    
    width: 450px;
    height: 250px;
    position: relative;
    top: 130px;
    left: 150px;
    
}

.pie_skills{
    
    
    height: 30px;
    
    position: relative;
    top: 100px;
}

.pie_skills .h1_skills{
    text-align: center;
    color: rgb(237, 79, 116);
    margin-bottom: 75px;
    font-family: 'Courier New', Courier, monospace;

}

.pie_skills .h3_skills{
    text-align: center;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}


.skills{
    
    width: 100%;
    height: auto;
    display:flex;
    flex-direction: row;
    justify-content: space;
    flex-flow: wrap;
    margin-bottom: 450px;
    justify-content: center;
    
    
    
}

.skills .html{
    width: 300px;
    height: 300px;
    
    position: relative;
    top: 250px;
   
    
    text-align: center;
    
}

.skills .html .img_html{
    width: 150px;
    height: 150px;
    
}

.skills .html h3{
    text-align: center;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

.skills .css{
    width: 300px;
    height: 300px;
    
    top: 250px;
    position: relative;
    
    text-align: center;
}

.skills .css .img_css{
    width: 150px;
    height: 150px;
}

.skills .css h3{
    text-align: center;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}




.skills .python{
    width: 300px;
    height: 300px;
    
    top: 250px;
    position: relative;
    
    text-align: center;
}

.skills .python .img_python{
    width: 150px;
    height: 150px;
}

.skills .python h3{
    text-align: center;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}



.skills .c{
    width: 300px;
    height: 300px;
    
    top: 250px;
    position: relative;
    
    text-align: center;
}
.skills .c .img_c{
    width: 150px;
    height: 150px;
}

.skills .c h3{
    text-align: center;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}



.skills .foto_skill{
    width: 300px;
    height: 300px;
    
    top: 200px;
    position: relative;
    margin-left: 100px;
    text-align: center;
}

.skills .foto_skill .img_skill{
    width: 250px;
    height: 250px;
}













.proyectos{
    width: 100%;
    height: auto;
    display:flex;
    flex-direction: row;
    justify-content: space;
    flex-flow: wrap;  
    justify-content: center;
     
    
}
.pie_proyectos{
    height: 150px;
    
}

.pie_proyectos h1{
    font-family: 'Courier New', Courier, monospace;

    color: rgb(237, 79, 116);
    text-align: center;
    margin-bottom: 70px;
    
}

.pie_proyectos h3{
    font-family: 'Courier New', Courier, monospace;
    color: white;
    text-align: center;
}

@media screen and (max-width:1200px){
    .proyecto1{
        width: 40%;
    }
}

@media screen and (max-width:600px) {
    .proyectos1{
        width: 90%;
    }
    
}

@media screen and (max-width:1200px){
    .proyecto2{
        width: 40%;
    }
}

@media screen and (max-width:600px) {
    .proyectos2{
        width: 90%;
    }
    
}

@media screen and (max-width:1200px){
    .proyecto3{
        width: 40%;
    }
}

@media screen and (max-width:600px) {
    .proyectos3{
        width: 90%;
    }
    
}




    


.proyectos .h1_proyecto{
    position: relative;
    left: 520px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}
.proyectos .proyecto1{
    margin-top: 150px;
    height:500px;
    width:400px;
    background:white;
    margin-left: 40px;
    border-radius: 10px;
    box-sizing: border-box;
    transition: 0.5s;
    
    
    
}

.proyectos .proyecto1:hover{
    transform: scale(1.1,1.1);
}

.proyectos .proyecto2{
    margin-top: 150px;
    height:500px;
    width:400px;
    background:white;
    margin-left: 40px;
    border-radius: 10px;
    box-sizing: border-box;
    transition: 0.5s;
    
    
}

.proyectos .proyecto2:hover{
    transform: scale(1.1,1.1);
}

.proyectos .proyecto3{
    margin-top: 150px;
    height:500px;
    width:400px;
    background:white;
    margin-left: 40px;
    border-radius: 10px;
    box-sizing: border-box;
    transition: 0.5s;
    
}

.proyectos .proyecto3:hover{
    transform: scale(1.1,1.1);
}

.proyectos .proyecto1 .img_p1{
     margin: 15px;
     width: 350px;
     padding-bottom: 30px;
}

.proyectos .proyecto1 h3{
    padding: 20px;
    padding-bottom: 60px;
     
}

.proyectos .proyecto2 .img_p2{
    
     margin: 15px;
    width: 350px;
    
}

.proyectos .proyecto2 h3{
    padding: 40px; 
}

.proyectos .proyecto3 .img_p3{
    
    width: 350px;
    margin: 15px;
}

.proyectos .proyecto3 h3{
    
    margin: 45px;
}

.proyectos .proyecto1 a{
    
    padding: 150px;
    text-decoration: none;
}

.proyectos .proyecto2 a{
    padding-left: 150px;
    text-decoration: none;
}

.proyectos .proyecto3 a{
    padding-left: 150px;
    text-decoration: none;
}

.contactos{
    width: auto;
    height:auto;
    
    text-align: center;
    display: flex;
    justify-content: center;
    
    
    
    
}

.pie_contactos{
    
    height: 100px;
    text-align: center;
    margin-top: 250px;
}

.pie_contactos h1{
    font-family: 'Courier New', Courier, monospace;
    color: white;
}




.contactos .formulario{

    
    width: 500px;
    height: 500px;
    
    
    
}

.formulario .email{
    margin-top: 50px;
    position: relative;
    top: 10px;
    width:100%;
    height: 40px;
    margin-bottom: 50px;
    border-radius: 10px;
}

.formulario .mensaje{
    width: 100%;
    height: 200px;
    border-radius: 10px;
}

.formulario .enviar{
    width: 100px;
    height: 30px;
    margin-top: 20px;
    margin-left: 200px;
    background: rgb(240, 240, 240);
}



